<div class="container text-center pt-5">
  <div class="row">
    <div class="col">
      <h2 class="fs-1 fw-bold pb-3">Sobre nosotros
        <i class="bi bi-info-circle-fill"></i>
      </h2>
      <p class="fs-4 mt-2">Somos una empresa de reciente incorporación a la industria, con muchas ganas de seguir creciendo y seguir haciendo felices a nuestros
        clientes cada dia. Actualmente seguimos en crecimiento, por lo que nos queda mucho por mejorar, pero aún así simpre tratamos de que la calidad de nuestros
        productos sea óptima para que nuestros clientes tengan productos a la altura. También estamos muy concienciados con la atención al cliente, y siempre tratamos
        de ofrecer al cliente una experiencia de compra sencilla y segura.
      </p>
      <p class="fs-4 mt-4">Con todo esto, también somos una empresa muy alineada con el medio ambiente, por lo que
        todo nuestro packaging es de materiales reciclados y totalmente reciclable.
      </p>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <img class="img-fluid border border-secondary border-2 w-75" src="images/Sostenible.jpg">
    </div>
    <div class="col-6">
      <img class="img-fluid border border-secondary border-2 w-75" src="images/Moda.jpg">
    </div>
  </div>
</div>
