<div class="container text-center pt-5 mt-5">
  <div class="row pt-5 mt-5">
    <div class="col">
      <h2 class="fs-1 fw-bold pb-3">Contacto
        <i class="bi bi-telephone-fill"></i>
      </h2>
      <p class="fs-4 mt-1">Si tienes sugerencias, algun problema con tu pedido o alguna queja, por favor no dudes en contactarnos:</p>
      <p class="fs-4 fw-bold">- Persona de contacto: Alvaro Avilés Redondo</p>
      <p class="fs-4 fw-bold">- Email de contacto: alvaro.avilesr&#64;alumnos.upm.es</p>
      <p class="fs-4">¡Estaremos encantados de ayudarte en todo lo que podamos!</p>
    </div>
  </div>
</div>
