<div class="container text-center pt-5 mt-5">
  <div class="row pt-5 mt-5">
    <div class="col">
      <h2 class="fs-1 fw-bold pb-3">Ayuda
        <i class="bi bi-question-circle-fill"></i>
      </h2>
      <p class="fs-4">Si necesitas ayuda con tu pedido o has experimentado algún problema al utilizar la página web, por favor, no dudes en contactarnos:</p>
      <p class="fs-4 fw-bold">- Persona de contacto: Alvaro Avilés Redondo</p>
      <p class="fs-4 fw-bold">- Email de contacto: alvaro.avilesr&#64;alumnos.upm.es</p>
      <p class="fs-4">¡Trataremos de resolver cualquier problema lo antes posible!</p>
    </div>
  </div>
</div>
