html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #F1FAF4
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

section.container {
  flex-grow: 1;
}

app-footer {
  color: white;
  text-align: center;
}
